*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas-main{
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}
#playerImg,
#layerImg1,
#layerImg2,
#layerImg3,
#layerImg4,
#layerImg5,
#bigSpider,
#bat,
#plant,
#fly,
#spider
{
    display: none;
}